{% extends 'base.html.twig' %}

{% block title %}Détails de
	{{ product.name }}
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="card">
			<div class="card-header">
				Détails du produit
			</div>
			<div class="card-body">
				<h5 class="card-title">{{ product.name }}</h5>
				<p class="card-text">{{ product.description }}</p>
				<p class="card-text">Prix:
					{{ product.price }}€</p>
				<img src="{{ product.imagePath }}" class="card-img-top" alt="Image du produit">
				<a href="#" class="btn btn-primary">Ajouter au panier</a>
			</div>
		</div>
	</div>
{% endblock %}
